* {
    box-sizing: border-box;
    font-family: papyrus;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.main-header .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.main-header .content {
    position: relative;
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    margin-top: 30%;
    display: inline-block;
    padding: .5em;
    color: aquamarine;
    text-decoration: none;
    font-size: 50px;
}

.nav a:hover {
    color: rgb(209, 0, 0);
}

body {
    background-color: rgb(176, 202, 225);
}

h1 {
    color: red;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    text-align: center;
}

h3 i {
    color: red;
    font-size: 30px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

section, footer {
    margin: 10px;
}

section {
    font-size: 25px;
}

h4 span {
    color: rgb(252, 255, 202);
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    background-color: navy;
}


footer p span {
    font-family: 'Times New Roman', Times, serif;
    color: magenta;
    margin-left: 20px;
}

